.employee-title{
  background-color: $blue;
  padding: 9%;
  width: 100%;

  h2, h3 {
    color: white;
    text-align: center;
  }

  h2{
    font-size: 3em;
  }

  h3{
    font-size: 2em;
  }
}

.container-medium{ 
    width: 55%;
    margin: 0 auto;
    padding: 3% 0%;
    
    p{
      font-size: 1.2em;
    line-height: 1.6;
    }
  }