
.landing{
  background: url('Toronto.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 16%;
  height: 500px;

  h1{
    color: white;
    font-family: $heading-font-family;
    font-size: 3em;
    text-shadow: 1px 2px grey;
    text-align: center;

  }
}

  .right{
    float: right;
  }

  .left{
    float: left;
  }

.what-we-do {


  .left{
    float: left;
    width: 30%;
    background-color: #C2EF68;
    height: 400px;

    .title{
      font-family: $heading-font-family;
      width: 50%;
      text-align: center;
      margin: 0 auto;
      padding-top: 30%;

      h2{
        color: white;
        font-size: 2em;
        text-align: center;
      }
    }

    hr {
      color: white;
    }
  }

  .right{
    float: right;
    width: 70%;
    background-color: #A1E518;
    height: 400px;
    background-color: #A1E518;
    height: 400px;
    font-size: 1.2em;

    p{
      padding: 14%;
      color: white;
    }
  }
}

.leadership{
  text-align: center;
  padding: 8%;
  overflow: hidden;

  h2 {
    font-size: 2em;
    color: $light-green;
    padding: 2%;
  }


  .profile{

    width: 40%;    
    text-align: center;
    padding: 2%;

    h2{
      text-align: center;
      color: $blue;
      font-size: 2em;
      font-weight: bold;
      font-family: $heading-font-family;
    }
  }
}

.services {
  background: url('nathanphillips.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

  h2{
    color: white;
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
    padding-top: 7%;
    z-index: 2;
    position: relative;
  }

  h3, a{
    color: white;
    font-size: 1.2em;
    font-family: $base-font-family;
    z-index: 2;
    position: relative;

      &:hover,
      &:focus {
        color: darken(white, 15%);
      }
  }

  p{
    color: white;
    font-size: 1.2em;
    padding-bottom: 7%;
    z-index: 2;
    position: relative;
  }

}

.field{
  width: 300px;
}

.editable-content{
  width: 100%;
  padding-bottom: 2%;
}
.container{
  width: 90%;
  margin: 0 auto;
  padding: 10% 0%;
}

.container-thin {
  width: 50%;
  margin:0 auto;
  padding: 5% 0%;
}

.contact {
  margin: 0 auto;
  padding: 10% 30% 15% 30%;

  h2{
    text-align: center;
    font-size:2em;
  }
}

.title-service {
  background: url('https://images.unsplash.com/photo-1430165558479-de3cf8cf1478?fit=crop&fm=jpg&h=725&ixjsv=2.0.0&ixlib=rb-0.3.5&q=80&w=1200') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  

  h2{
    color: white;
    font-size: 2em;
    z-index: 2;
    padding: 10% 10% 2% 15%;
    position: relative;
  }
}

.picture-gradient{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.55) 0, rgba(2, 2, 2, 0.87) 100%);
}
