body {
  padding: 0;
  margin: 0;
}

nav {
  background-color: white;
  color: $medium-gray;
  padding: 2% 5%;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);  
  height: 110px;



  img{
    height: 75px;
    display: inline;
  }

  ul{
    padding: 0;
    padding-top: 27px;
    display: inline;
    width: 50%;
    float: right;

    li{
      display: inline;
      padding-right: 5%;
    }
  }


}
.content{
  padding-top: 100px;
}

.toolbar{
  background-color: $blue;
  color: white;
  padding: 2%;

  .fa-pencil-square-o, .fa-trash-o{
    color: white;

       &:hover,
      &:focus {
        color: $light-green;
      }
  }
}
footer {
  background-color: white;
  padding: 7% 10%;
  margin-bottom: 7%;
  border-top: 1px solid $green;
  width: 100%;

  img{
    height: 75px;
  }

  ul{
    li{

    }
  }

}